.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }

.modal-overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.error {
    color: red;
    font-size: 12px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.form-buttons {
    gap: 10px; /* Espacio entre los botones */
    width: 100%; /* Asegura que los botones ocupen todo el ancho disponible */
}

/* Estilos comunes para los botones */
.form-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-flex; /* Asegura que los botones tengan el mismo tamaño */
    align-items: center;  /* Centra el contenido dentro del botón */
    justify-content: center; /* Centra el texto dentro del botón */
    box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total */
    width: 120px; /* Ancho fijo para ambos botones */
    height: 40px; /* Altura fija para ambos botones */
    line-height: normal; /* Asegura que el texto esté centrado verticalmente */
}

/* Estilo para el botón "Save" */
.save-button {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white;
}

.save-button:hover {
    background-color: #45a049; /* Cambio de color al pasar el ratón */
}

/* Estilo para el botón "Cancel" */
.cancel-button {
    background-color: #f44336; /* Color de fondo rojo */
    color: white;
}

.cancel-button:hover {
    background-color: #e53935; /* Cambio de color al pasar el ratón */
}

  
  .back{
    margin-right: auto;
    height: 0px;
  }
  
  button.back-btn {
    background-color: #ffffff;
    border: #ffffff;
    cursor:pointer;
  }
  
  .back-arrow img {
    width: 32px;
    height: 57px;
  }