.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Asegura que el contenido no se desborde */
  transition: max-width 0.3s ease-in-out;
}

.contact-group {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos pasen a una nueva línea */
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.contact-group input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.delete-contact-btn {
  background: none;
  border: none;
  color: #d9534f;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0;
  align-self: center;
}

.delete-contact-btn:hover {
  color: #c9302c;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.add-contact-btn,
button[type="submit"] {
  margin: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #004aad;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-contact-btn:hover,
button[type="submit"]:hover {
  background-color: #45a049;
}

.notification {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}

.notification.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.notification.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.error {
  color: #d9534f;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.form-group.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group.checkbox-group label {
  margin-bottom: 0.5rem;
}

.form-group.checkbox-group input[type="checkbox"] {
  margin-top: 0.25rem;
  transform: scale(1.2);
}


.contacts-section {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los contactos */
  margin-top: 10px;
}

.contact-group {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los campos de cada contacto */
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.contact-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1; /* Para que los campos ocupen el mismo espacio */
  font-size: 14px;
}

.contact-name, .contact-lastname {
  flex: 1; /* Espacio igual para nombre y apellido */
}

.contact-email, .contact-phone {
  flex: 1; /* Espacio igual para email y teléfono */
}



