.body_moduleActivity{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: fit-content;
    width: 100%;
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.body_moduleactividad h1 {
    text-align: center;
}

.btn_crearactividad{    
    display: flex;
    justify-content: flex-start;
    background-color: #ff8d08;
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 60px;
    border: none;
    cursor: pointer;
}

.btn_crearactividad:hover {
    opacity: 0.8;
}
