.body_moduleOpportunity{
    color: black;
    align-items: center;
    text-align: center;
}

.btn_crearoportunidad {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    min-width: 200px; /* Establece un mínimo ancho para el botón */
    opacity: 0.9;
  }
  