.body_moduleClient{
    color: black;
    align-items: center;
    text-align: center;
}

.btn_crearcliente{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}