/* Opportunity Details Container */
.opportunity-detail-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

/* Back Button */
.back-arrow {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

button.back-btn {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.back-arrow img {
    width: 32px;
    height: 57px;
    margin-right: 10px;
}

/* Title */
.opportunity-detail-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Opportunity Info Grid */
.opportunity-info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.opportunity-info-grid div {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.status-apertura {
    color: green;
    font-weight: bold;
}

.status-cerrada {
    color: red;
    font-weight: bold;
}

.status-en-progreso {
    color: orange;
    font-weight: bold;
}

.related-client-container {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.related-client-container h3 {
    margin-top: 0px;
    font-size: 1.25rem;
    color: #333;
}


.related-client-info div {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
